<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Запрос денег</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
    .notSafe {
      background: darkgrey;
    }
  </style>
</head>
<body>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="#" th:href="${'/admin/payanycards'}">Заплатить</a></li>
    <li><a href="#" th:href="${'/admin/requestmoneys'}">Запросить</a></li>
  </ol>
  <table class="table">
    <h2>Запросить деньги</h2>
    <tr>
      <th>ID</th>
      <th>Получатель</th>
      <th>БИК</th>
      <th>Номер счета</th>
      <th>Сумма</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Not safe</th>
      <th>Safe<th>
    </tr>

    <tr class="" th:classappend="${item.notSafe} ? notSafe : safe" th:each="item : ${requestmoneys}">

      <td th:text="${item.id}">ID платежа</td>
      <td th:text="${item.requestConsumer}">Получатель</td>
      <td th:text="${item.bic}">Бик</td>
      <td th:text="${item.paymentNumber}">Номер счета</td>
      <td th:text="${item.paymentSum}">Сумма</td>

      <td><a class="btn btn-default" href="#" th:href="${'/admin/requestmoney/' + item.id}">View</a> </td>
      <td><a class="btn btn-default" href="#" th:href="${'/admin/requestmoney/edit/' + item.id}">Edit</a> </td>
      <td><a class="btn btn-default" href="#" th:href="${'/admin/requestmoney/delete/' + item.id}">Delete</a> </td>
      <td><a class="btn btn-default" href="#" th:href="${'/admin/requestmoney/notsafe/' + item.id}">Not safe</a></td>
      <td><a class="btn btn-default" href="#" th:href="${'/admin/requestmoney/safe/' + item.id}">Safe</a></td>
    </tr>
  </table>
  <a th:href="${'/admin/requestmoney/new'}" class="btn btn-default">New</a>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>